body{
    background: rgb(226, 226, 226);
    padding: 0%;
    margin: 0%;
}

.gameGrid {
    justify-content: center;
    display: flex;
    justify-self: center;
    justify-items: center;
    margin-top: 10%;
    gap: 4%;
}

#banner {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), 
    url('../images/gamepageimg.png');
}

iframe {
    padding: 0;
}

.gameIcon a {
    width: 15vw;
    height: 15vw;
    margin: 3%;
}

.gameIcon img {
    width: 100%;
    height: 100%;
    align-self: center;
    padding: 0%;
}

.gameIcon p {
    text-align: center;
    font-family: TitleFont;
    font-size: 2vw;
    margin-top: 0%;
}

#leaderboard {
    background-color: antiquewhite;
    padding: 2%;
    width: 20vw;
}

.boardEl {
    background-color:brown;
    padding: 1%;
    border-radius: 3px;
    font-size: 25px;
    color: white;
}

#myEl {
    background-color: coral;
    padding: 1%;
    border-radius: 3px;
    font-size: 25px;
    color: white;
}