body{
    background: rgb(226, 226, 226);
}

.gameGrid {
    justify-content: center;
    display: flex;
    justify-self: center;
    justify-items: center;
    margin-top: 10%;
}

#banner {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), 
    url('../images/gamepageimg.png');
}

iframe {
    padding: 0;
}