@font-face {
    font-family: 'TitleFont';
    src: url('font/WinterHalf.ttf');
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    height: 50vh;
    background-size: contain;
    background-repeat: repeat;
    position: relative;
}

#banner h1 {
    text-align: center;
    font-family: TitleFont;
    font-size: 8vw;
    margin: 0;
    position: absolute;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    color: rgb(240, 229, 229);
    margin-bottom: 2%;
}

#banner img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

@media (max-width: 1200px) {
    #banner {
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 768px) {
    #banner {
        height: 40vh; 
        background-size: cover;
    }

    #banner h1 {
        font-size: 15vw;
        margin-bottom: 5%;
    }
}
