body{
    background: rgb(226, 226, 226);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create a 2x2 grid */
    gap: 15px; /* Add space between grid items */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px;
    height: 75vh; 

    grid-gap: 5px;
    padding: 15px;
}
.container{
    position: relative;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid black;
}

