h1{
    text-align: center;
}

.appointmentForm {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.appointmentForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.appointmentForm select,
.appointmentForm input,
.appointmentForm textarea,
.appointmentForm button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.appointmentForm button {
    background-color: #34AF6D;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.appointmentForm button:hover {
    background-color: #2d944e;
}

textarea {
    resize: vertical;
}
